.titulo_Form{
    margin-bottom: 30px;
}

.CPF{

    margin-bottom: 30px;
}

.btn{
    margin-top: 20px;
}

.texto{
    color: white;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }